<div class="container d-flex justify-content-between mt-2">
    <h3>{{title}}</h3>
    <button class="btn btn-success " style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" link="/">Agregar Nuevo</button>
</div>





<table class="table ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
      <th scope="col">Code</th>
      <th scope="col">Stock</th>
    </tr>
  </thead>
  <tbody class="products-container">
  
  </tbody>
</table>
